---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Course from "../components/Course.astro";
import Rules from "../components/Rules.astro";
import Gallery from "../components/Gallery.astro";
import Sponsors from "../components/Sponsors.astro";
import Boluntarioak from "../components/Boluntarioak.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Navbar />
    <main>
        <Hero />
        <Course />
        <Rules />
        <Gallery />
        <Sponsors />
        <Boluntarioak />
    </main>
    <Footer />
</Layout>
