---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Navbar />
    <main class="pt-32 pb-24 bg-[#050805] text-white">
        <div class="max-w-4xl mx-auto px-6 md:px-8">
            <h1
                class="font-germania text-4xl md:text-5xl mb-12 text-neon-green tracking-tight"
            >
                Pribatutasun Politika
            </h1>

            <div
                class="prose prose-invert prose-neon max-w-none space-y-10 text-white/70 leading-relaxed font-sans text-justify"
            >
                <section>
                    <h2
                        class="font-germania text-2xl text-white mb-4 border-b border-white/10 pb-2"
                    >
                        Nor gara
                    </h2>
                    <p>
                        Gure webgunearen helbidea honakoa da: <a
                            href="https://www.txirritamendilasterketa.eus"
                            class="text-neon-green hover:underline"
                            >https://www.txirritamendilasterketa.eus</a
                        >.
                    </p>
                </section>

                <section>
                    <h2
                        class="font-germania text-2xl text-white mb-4 border-b border-white/10 pb-2"
                    >
                        Iruzkinak
                    </h2>
                    <p>
                        Bisitariek iruzkinak uzten dituztenean, iruzkinen
                        formularioan agertzen diren datuak biltzen ditugu, eta
                        baita bisitariaren IP helbidea eta nabigatzailearen
                        agente erabiltzailearen katea ere, spam detekzioan
                        laguntzeko.
                    </p>
                    <p>
                        Zure helbide elektronikotik sortutako kate anonimo bat
                        (hash ere deitua) Gravatar zerbitzura eraman daiteke
                        erabiltzen ari zaren ikusteko. Gravatar zerbitzuaren
                        pribatutasun politika hemen dago eskuragarri:
                        https://automattic.com/privacy /. Zure iruzkina onartu
                        ondoren, zure profileko argazkia jendeak ikusteko moduan
                        dago zure iruzkinaren testuinguruan.
                    </p>
                </section>

                <section>
                    <h2
                        class="font-germania text-2xl text-white mb-4 border-b border-white/10 pb-2"
                    >
                        Multimedia
                    </h2>
                    <p>
                        Web orrira irudiak igoz gero, ez igo kokapen datuak
                        dituzten irudiak (EXIF GPS). Webguneko bisitariek
                        edozein kokapen-datu deskargatu eta atera dezakete web
                        orriko irudietatik.
                    </p>
                </section>

                <section>
                    <h2
                        class="font-germania text-2xl text-white mb-4 border-b border-white/10 pb-2"
                    >
                        Cookieak
                    </h2>
                    <p>
                        Gure webgunean iruzkin bat uzten baduzu, zure izena,
                        helbide elektronikoa eta webgunea cookieetan gordetzeko
                        aukera izango duzu. Zure erosotasunerako dira, beste
                        komentario bat egiten duzunean zure xehetasunak berriro
                        bete behar ez izateko. Cookie horiek urtebete iraungo
                        dute.
                    </p>
                    <p>
                        Gure login orria bisitatzen baduzu, aldi baterako cookie
                        bat ezarriko dugu zure nabigatzaileak cookieak onartzen
                        dituen jakiteko. Cookie honek ez du datu pertsonalik,
                        eta nabigatzailea ixtean baztertu egiten da.
                    </p>
                    <p>
                        Saioa hastean, hainbat cookie ere ezarriko ditugu, zure
                        saio-hasierako informazioa eta pantaila-bistaratzeko
                        aukerak gordetzeko. Saioa hasteko cookieek bi egun
                        irauten dute, eta pantailaren aukerek urtebete.
                        “Gogoratu nitaz” aukeratzen baduzu, zure saio hasierak
                        bi aste iraungo du. Zure kontutik ateratzen bazara, saio
                        haisera cookiek kendu egingo dira.
                    </p>
                </section>

                <section>
                    <h2
                        class="font-germania text-2xl text-white mb-4 border-b border-white/10 pb-2"
                    >
                        Beste webgune batzuetako eduki txertatuak
                    </h2>
                    <p>
                        Webgune honetako artikuluek eduki txertatuak izan
                        ditzakete (adibidez, bideoak, irudiak, artikuluak,
                        etab.). Beste webguneetako eduki txertatuek bisitariak
                        beste webgunea bisitatu izan balu bezala jokatzen dute.
                    </p>
                    <p>
                        Webgune horiek zuri buruzko datuak jaso ditzakete,
                        cookieak erabili, hirugarrenen jarraipen gehigarria
                        txertatu, eta txertatutako eduki horrekin duzun
                        elkarrekintza gainbegiratu, baita txertatutako
                        edukiarekin duzun interakzioaren jarraipena ere, kontu
                        bat baduzu eta webgune horretan erregistratuta bazaude.
                    </p>
                </section>

                <section>
                    <h2
                        class="font-germania text-2xl text-white mb-4 border-b border-white/10 pb-2"
                    >
                        Zenbat denbora gordeko ditugun zure datuak
                    </h2>
                    <p>
                        Iruzkin bat uzten baduzu, iruzkina eta bere metadatuak
                        mugarik gabe gordetzen dira. Beraz, edozein jarraipen
                        iruzkin ezagutu eta onartu dezakegu automatikoki,
                        neurrizko ilaran eduki beharrean.
                    </p>
                    <p>
                        Gure webgunean erregistratzen duten erabiltzaileentzat
                        (baldin badago), eskaintzen duten informazio pertsonala
                        ere gordetzen dugu erabiltzaileen profilean.
                        Erabiltzaile guztiek noiznahi ikusi, editatu edo ezabatu
                        dezakete beren informazio pertsonala (erabiltzaile izena
                        aldatu ezin dutenean izan ezik). Webguneen
                        administratzaileek ere informazio hori ikusi eta editatu
                        dezakete.
                    </p>
                </section>

                <section>
                    <h2
                        class="font-germania text-2xl text-white mb-4 border-b border-white/10 pb-2"
                    >
                        Zer eskubide dituzun zure datuen gainean
                    </h2>
                    <p>
                        Webgune honetan konturen bat baduzu edo iruzkinik utzi
                        baduzu, zuri buruz dauzkagun datu pertsonalen fitxategi
                        esportatu bat jasotzeko eska dezakezu, eman dizkiguzun
                        datu guztiak barne. Zure datu pertsonalak ezabatzeko ere
                        eska dezakezu. Horrek ez du barne hartzen administrazio,
                        lege edo segurtasun helburuetarako gorde behar dugun
                        daturik.
                    </p>
                </section>
            </div>
        </div>
    </main>
    <Footer />
</Layout>
